body {
  background: #fff;
  background-image: url('images/vervillefond.jpg?1376330869');
  background-repeat: repeat-x;
  font: 13px/15px "allumi-std-n3", "allumi-std", sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, .theme {
  font-family: "trajan-pro-3-n4", "trajan-pro-3", serif;
  font-size: 15px;
  color: black;
  font-weight: 400;
  margin-top: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .theme a {
  font-weight: inherit;
}

.vco-storyjs .vco-feature h3, .vco-storyjs .vco-feature h4, .vco-storyjs .vco-feature h5, .vco-storyjs .vco-feature h6, .vco-slider .slider-item .content .content-container .text .container p {
  font-family: "allumi-std-n1", "allumi-std", sans-serif !important;
  font-weight: 100 !important;
  color: #265078;
}

.vco-slider .slider-item .content .content-container .text .container p {
  color: black !important;
}

.vco-slider .nav-next .date, .vco-slider .nav-next .title, .vco-slider .nav-previous .date, .vco-slider .nav-previous .title, .vco-slider .slider-item .content .content-container .text .container h2.date {
  font-family: "allumi-std-n3", "allumi-std", sans-serif !important;
  font-weight: 300 !important;
}

h1 {
  font-size: 32px;
  line-height: 33px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 8px;
}

h4 {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 4px;
}

h5 {
  font-size: 15px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 21px;
}

body.realisation h1 {
  font-size: 33px;
}

.subheader {
  color: #777;
}

img {
  border: 0;
}

p {
  margin: 0 0 6px 0;
}
p img {
  margin: 0;
}
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
  color: #333;
}

small {
  font-size: 80%;
}

/*	Blockquotes  */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}

blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}

blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #555;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

a, a:visited {
  color: #333;
  text-decoration: none;
  outline: 0;
}

a:hover, a:focus {
  color: #000;
}

p a, p a:visited {
  line-height: inherit;
}

ul {
  margin: 6px 0;
  padding: 6px 0 0 16px;
}

/* @import "partials/main"; */
/* -------------------------------------------------------------------------*/
/* Layout */
.omega, .fin {
  margin-right: 0;
}

a {
  color: #265078;
}
a:visited {
  color: #265078;
}
a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

.survol {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

.uneCol {
  width: 4.25532%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.deuxCol {
  width: 10.6383%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.troisCol, #navGauche, #auteur {
  width: 17.02128%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.quatreCol {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.cinqCol {
  width: 29.78723%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.sixCol, #texte {
  width: 36.17021%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.septCol {
  width: 42.55319%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.huitCol, #photo {
  width: 48.93617%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.neufCol, #temoignage {
  width: 55.31915%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.dixCol {
  width: 61.70213%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.onzeCol {
  width: 68.08511%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.douzeCol {
  width: 74.46809%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.treizeCol {
  width: 80.85106%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.quatorzeCol {
  width: 87.23404%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.quinzeCol {
  width: 93.61702%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.seizeCol, #boiteVerte, #bandeauSup, #contenu, #topnav, .titre, #ariane {
  width: 100%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  margin-right: 0;
}

.uneCol.fin, .deuxCol.fin, .troisCol.fin, .fin#navGauche, .fin#auteur, .quatreCol.fin, .cinqCol.fin, .sixCol.fin, .fin#texte, .septCol.fin, .huitCol.fin, .fin#photo, .neufCol.fin, .fin#temoignage, .dixCol.fin, .onzeCol.fin, .douzeCol.fin, .treizeCol.fin, .quatorzeCol.fin, .quinzeCol.fin, .seizeCol.fin, .fin#boiteVerte, .fin#bandeauSup, .fin#contenu, .fin#topnav, .fin.titre, .fin#ariane {
  margin-right: 0;
}

.finQuinze {
  margin-right: 95.74468%;
}

.finQuatorze {
  margin-right: 89.3617%;
}

.finTreize {
  margin-right: 82.97872%;
}

.finDouze {
  margin-right: 76.59574%;
}

.finOnze {
  margin-right: 70.21277%;
}

.finDix {
  margin-right: 63.82979%;
}

.finNeuf {
  margin-right: 57.44681%;
}

.finHuit {
  margin-right: 51.06383%;
}

.finSept {
  margin-right: 44.68085%;
}

.finSix {
  margin-right: 38.29787%;
}

.finCinq {
  margin-right: 31.91489%;
}

.finQuatre {
  margin-right: 25.53191%;
}

.finTrois {
  margin-right: 19.14894%;
}

.finDeux {
  margin-right: 12.76596%;
}

.finUn, #texte, #temoignage {
  margin-right: 6.38298%;
}

.debutQuinze {
  margin-left: 95.74468%;
}

.debutQuatorze {
  margin-left: 89.3617%;
}

.debutTreize {
  margin-left: 82.97872%;
}

.debutDouze {
  margin-left: 76.59574%;
}

.debutOnze {
  margin-left: 70.21277%;
}

.debutDix {
  margin-left: 63.82979%;
}

.debutNeuf {
  margin-left: 57.44681%;
}

.debutHuit {
  margin-left: 51.06383%;
}

.debutSept {
  margin-left: 44.68085%;
}

.debutSix {
  margin-left: 38.29787%;
}

.debutCinq {
  margin-left: 31.91489%;
}

.debutQuatre {
  margin-left: 25.53191%;
}

.debutTrois {
  margin-left: 19.14894%;
}

.debutDeux {
  margin-left: 12.76596%;
}

.debutUn {
  margin-left: 6.38298%;
}

.enveloppe {
  *zoom: 1;
  width: 940px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-repeat: no-repeat;
  background-image: url('images/grandfond2.jpg?1376337211');
}
.enveloppe:after {
  content: "";
  display: table;
  clear: both;
}

.suzy {
  min-height: 800px;
}

#boiteVerte {
  z-index: 9999;
  overflow: hidden;
  background-color: rgba(101, 146, 80, 0.7);
  background-image: url('images/vervillefond.png	');
  background-repeat: repeat-x;
  height: 170px;
  width: 960px;
  margin-left: -10px;
  position: relative;
}
#boiteVerte #navG, #boiteVerte #navD {
  font-family: "trajan-pro-3-n9", "trajan-pro-3", serif;
  font-size: 30px;
  color: white;
  font-weight: 900;
  position: absolute;
  top: 60px;
  cursor: pointer;
}
#boiteVerte #navG {
  left: 5px;
  display: none;
}
#boiteVerte #navD {
  right: 5px;
}
#boiteVerte #conteneurPhotos {
  margin-top: 10px;
  margin-left: 50px;
  width: 840px;
  height: 150px;
  overflow: hidden;
  position: relative;
}
#boiteVerte #conteneurPhotos img {
  cursor: pointer;
}
#boiteVerte #conteneurPhotos #ruban {
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
}
#boiteVerte #conteneurPhotos #ruban img {
  border: 1px solid #666666;
}
#boiteVerte #conteneurPhotos .miniature {
  display: block;
  float: left;
  margin-right: 5px;
  height: 150px;
  overflow: hidden;
  width: 100px;
}

#theme {
  font-family: "trajan-pro-3-n4", "trajan-pro-3", serif;
  font-size: 36px;
  color: #659250;
  font-weight: 400;
  position: absolute;
  bottom: 5px;
  right: 30px;
}
#theme body.interieure, body.anniversaire #theme {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

#intro {
  position: absolute;
  left: 500px;
  top: 40px;
  font-family: "trajan-pro-3-n4", "trajan-pro-3", serif;
  font-size: 20px;
  color: black;
  font-weight: 400;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  line-height: 1.2em;
  width: 350px;
}

p.signature {
  font-family: "allumi-std-n1", "allumi-std", sans-serif;
  font-size: 12px;
  color: black;
  font-weight: 200;
  line-height: 1.2em;
  margin-left: 40px;
}

.tiers {
  width: 33.33%;
  float: left;
  margin: 0;
  padding-bottom: 30px;
  display: inline;
}

#bandeauSup {
  position: relative;
  margin-left: -10px;
}
#bandeauSup .chapeau {
  width: 300px;
  margin: 0 auto;
}
#bandeauSup .nom {
  width: 597px;
  margin: 0 auto;
}

#contenu {
  padding-bottom: 40px;
  position: relative;
  min-height: 400px;
}

#topnav {
  margin-top: 0;
  padding-top: 0;
}

#footer {
  font-size: 10px;
  color: #666666;
  padding-top: 10px;
}
#footer a {
  color: #666666;
}

#ariane {
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 15px;
  height: 25px;
  margin-left: -10px;
  margin-bottom: 10px;
}
#ariane li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
#ariane li:first-child, #ariane li.first {
  padding-left: 0;
}
#ariane li:last-child {
  padding-right: 0;
}
#ariane li.last {
  padding-right: 0;
}
#ariane ul {
  margin: 0;
  padding: 0;
  height: 25px;
}
#ariane ul li {
  font-weight: 400;
  border-left: 1px solid white;
  font-size: 12px;
  background-color: #265078;
  height: 13px;
  padding-top: 3px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
}
#ariane ul li a {
  color: white;
}
#ariane ul li:first-child {
  border-left: none;
  padding-left: 10px;
}
#ariane ul li:last-child {
  padding-right: 10px;
  background-color: #c6dec4;
  color: #265078;
}

#navigation {
  height: 20px;
}
#navigation ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid black;
  width: 700px;
  margin: 0 auto;
  font-family: "trajan-pro-3-n4", "trajan-pro-3", serif;
  font-size: 13px;
  color: black;
  font-weight: 400;
}
#navigation ul a {
  color: black;
}
#navigation ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
#navigation ul li:first-child, #navigation ul li.first {
  padding-left: 0;
}
#navigation ul li:last-child {
  padding-right: 0;
}
#navigation ul li.last {
  padding-right: 0;
}
#navigation ul li {
  padding: 4px 2px 2px 2px;
  margin-right: 10px;
}
#navigation ul li:first-child {
  padding-left: 2px;
}
#navigation ul li.choisi {
  background-color: #dde6d9;
}

#navTags, #navGauche {
  font-family: "trajan-pro-3-n4", "trajan-pro-3", serif;
  font-size: 10px;
  color: black;
  font-weight: 400;
}
#navTags div, #navGauche div {
  padding: 1px 2px;
  float: left;
  margin-right: 5px;
  margin-bottom: 3px;
  text-align: center;
}
#navTags div a, #navGauche div a {
  color: black;
}
#navTags div.choisi, #navGauche div.choisi {
  background-color: rgba(101, 146, 80, 0.7);
  border-bottom: 2px solid #990000;
  color: white;
}
#navTags div.choisi a, #navGauche div.choisi a {
  color: white;
}

#navTags {
  position: absolute;
  width: 700px;
  height: 23px;
  top: 2px;
  left: 120px;
}
#navTags div {
  width: auto;
}

#navGauche {
  padding-top: 50px;
  margin-left: 20px;
}
#navGauche div {
  width: 100%;
  text-align: center;
  background-color: white;
  border-bottom: 1px solid #659250;
}

#motsCles, #motsClesIndex {
  font-size: 11px;
  position: absolute;
}
#motsCles .tag, #motsCles .tout, #motsClesIndex .tag, #motsClesIndex .tout {
  float: left;
  width: auto;
  background-color: white;
  border: 1px solid #ededed;
  padding: 1px 3px;
  margin-top: 2px;
  margin-right: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
#motsCles .tag.choisi, #motsCles .tout.choisi, #motsClesIndex .tag.choisi, #motsClesIndex .tout.choisi {
  background-color: rgba(189, 216, 178, 0.8);
  color: white;
}
#motsCles .tag:hover, #motsCles .tout:hover, #motsClesIndex .tag:hover, #motsClesIndex .tout:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
#motsCles .tout, #motsClesIndex .tout {
  background-color: rgba(189, 216, 178, 0.4);
}
#motsCles h2, #motsClesIndex h2 {
  padding: 0;
  width: 100px;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 1px;
  background-color: #659250;
  font-size: 11px;
  color: white;
  line-height: 13px;
  text-align: center;
}

#motsClesIndex {
  right: 0;
  width: 200px;
  top: 100px;
}

#motsCles {
  right: 0;
  width: 400px;
  bottom: 50px;
}

#editpage {
  color: #990000 !important;
  font-weight: 700;
}

#photo, #texte, #temoignage, #auteur {
  margin-top: 40px;
}

#photo {
  margin-left: 20px;
  position: relative;
  border: 2px solid white;
  /* 	background-color: white; */
}
#photo img {
  display: block;
  margin: 0 auto;
}

#texte, #temoignage {
  margin-right: 0;
  border-bottom: 2px solid white;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 1.5em;
}

body.anniversairesection #temoignage {
  margin-left: 30px;
  margin-top: 60px;
}

#auteur {
  margin-left: 10px;
}

#json, #source, .inv, .sCt {
  display: none;
}

#colG {
  margin-top: 15px;
  margin-left: 10px;
  width: 17.02128%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  margin-right: 10px;
}

#colD {
  width: 80.85106%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  margin-right: 0;
}
#colD .texteM, #colD #mosaique {
  clear: both;
  width: 760px;
  margin-right: 0;
}

.ct, .ct2 {
  position: relative;
  overflow: hidden;
  *zoom: 1;
  margin-left: -10px;
  border-bottom: 1px solid #265078;
  background-color: white;
  font-size: .95em;
  line-height: 1.1em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  padding: 2px 2px 4px 2px;
}

div.ppt {
  font-size: 14px;
  background-color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;
  margin: 0 0 0 -5px;
  width: 100% !important;
  text-align: center;
}

div.pp_default .pp_nav, .pp_nav {
  width: 125px;
  margin-bottom: 5px;
  background-color: grey;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}
div.pp_default .pp_nav .currentTextHolder, .pp_nav .currentTextHolder {
  color: white;
}

a.pp_arrow_previous, a.pp_arrow_next {
  margin-top: 5px;
}

#sectionFrontale {
  position: absolute;
  top: 290px;
  left: 30px;
  width: 700px;
  height: 110px;
  text-transform: uppercase;
  font-family: "trajan-pro-3-n4", "trajan-pro-3", serif;
  font-size: 13px;
  color: #659250;
  font-weight: 400;
  line-height: 1.2em;
  z-index: 10000;
}
#sectionFrontale .bulle {
  float: left;
  margin-right: 15px;
  width: 110px;
  height: 110px;
}
#sectionFrontale .bulle img {
  -webkit-box-shadow: 5px 4px 5px gainsboro;
  -moz-box-shadow: 5px 4px 5px gainsboro;
  box-shadow: 5px 4px 5px gainsboro;
}
#sectionFrontale .bulle a {
  color: black;
}

.montrer {
  display: block !important;
}

.large {
  float: none !important;
  width: 100% !important;
}

#debug {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-family: "allumi-std-n3", "allumi-std", sans-serif;
  font-size: 12px;
  color: white;
  font-weight: 300;
}

#pagination {
  position: absolute;
  font-family: "allumi-std-n3", "allumi-std", sans-serif;
  font-size: 12px;
  color: white;
  font-weight: 300;
  right: 10px;
  bottom: 5px;
}

.legende {
  float: left;
  width: 100%;
  clear: both;
  margin-top: 5px;
  margin-left: 3px;
}

#diaporama {
  position: absolute;
  width: 680px;
  top: 100px;
  left: 10px;
  z-index: 10000;
}

body.anniversaire h1 {
  font-size: 20px;
  margin-top: 0;
}
body.anniversaire h2 {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
}
body.anniversaire .signature {
  font-size: 13px;
  text-align: right;
}
