// ---------------------------------------------------------------------------
// Imports
@import "compass";
@import "partials/variables";
@import "partials/mixins";
@import "partials/base";
@import "partials/basetype";
/* @import "partials/main"; */

/* -------------------------------------------------------------------------*/
/* Layout */

.omega, .fin {
  margin-right: 0
}

a {
  color: $bleu;
  &:visited {
    color: $bleu;
  }
  &:hover {
    @include opacity(.6)
  }
}

.survol {
  @include opacity(.6);

}

.uneCol {
  @include span-columns(1, $total-columns);
}

.deuxCol {
  @include span-columns(2, $total-columns);
}

.troisCol {
  @include span-columns(3, $total-columns);
}

.quatreCol {
  @include span-columns(4, $total-columns);
}

.cinqCol {
  @include span-columns(5, $total-columns);
}

.sixCol {
  @include span-columns(6, $total-columns);
}

.septCol {
  @include span-columns(7, $total-columns);
}

.huitCol {
  @include span-columns(8, $total-columns);
}

.neufCol {
  @include span-columns(9, $total-columns);
}

.dixCol {
  @include span-columns(10, $total-columns);
}

.onzeCol {
  @include span-columns(11, $total-columns);
}

.douzeCol {
  @include span-columns(12, $total-columns);
}

.treizeCol {
  @include span-columns(13, $total-columns);
}

.quatorzeCol {
  @include span-columns(14, $total-columns);
}

.quinzeCol {
  @include span-columns(15, $total-columns);
}

.seizeCol {
  @include span-columns(16, $total-columns);
  margin-right: 0;
}

.uneCol, .deuxCol, .troisCol, .quatreCol, .cinqCol, .sixCol, .septCol, .huitCol, .neufCol, .dixCol, .onzeCol, .douzeCol, .treizeCol, .quatorzeCol, .quinzeCol, .seizeCol {
  &.fin {
    margin-right: 0
  }
}

.finQuinze {
  @include post(15, $total-columns);

}

.finQuatorze {
  @include post(14, $total-columns);
}

.finTreize {
  @include post(13, $total-columns);
}

.finDouze {
  @include post(12, $total-columns);
}

.finOnze {
  @include post(11, $total-columns);
}

.finDix {
  @include post(10, $total-columns);
}

.finNeuf {
  @include post(9, $total-columns);
}

.finHuit {
  @include post(8, $total-columns);
}

.finSept {
  @include post(7, $total-columns);
}

.finSix {
  @include post(6, $total-columns);
}

.finCinq {
  @include post(5, $total-columns);
}

.finQuatre {
  @include post(4, $total-columns);
}

.finTrois {
  @include post(3, $total-columns);
}

.finDeux {
  @include post(2, $total-columns);
}

.finUn {
  @include post(1, $total-columns);
}

.debutQuinze {
  @include pre(15, $total-columns);

}

.debutQuatorze {
  @include pre(14, $total-columns);
}

.debutTreize {
  @include pre(13, $total-columns);
}

.debutDouze {
  @include pre(12, $total-columns);
}

.debutOnze {
  @include pre(11, $total-columns);
}

.debutDix {
  @include pre(10, $total-columns);
}

.debutNeuf {
  @include pre(9, $total-columns);
}

.debutHuit {
  @include pre(8, $total-columns);
}

.debutSept {
  @include pre(7, $total-columns);
}

.debutSix {
  @include pre(6, $total-columns);
}

.debutCinq {
  @include pre(5, $total-columns);
}

.debutQuatre {
  @include pre(4, $total-columns);
}

.debutTrois {
  @include pre(3, $total-columns);
}

.debutDeux {
  @include pre(2, $total-columns);
}

.debutUn {
  @include pre(1, $total-columns);
}

.enveloppe {
  @include container;
  position: relative;
  background-repeat: no-repeat;
  background-image: image-url('grandfond2.jpg');
}

.suzy {
  min-height: 800px;
}

#boiteVerte {
  @extend .seizeCol;
  z-index: 9999;
  overflow: hidden;
  background-color: $vertFort;
  background-image: image-url('vervillefond.png	');
  background-repeat: repeat-x;
  height: 170px;
  width: 960px;
  margin-left: -10px;
  position: relative;
  #navG, #navD {
    @include trajanGras(30px, white);
    position: absolute;
    top: 60px;
    cursor: pointer;
  }
  #navG {
    left: 5px;
    display: none;
  }
  #navD {
    right: 5px
  }
  #conteneurPhotos {
    margin-top: 10px;
    margin-left: 50px;
    width: 840px;
    height: 150px;
    overflow: hidden;
    position: relative;
    img {
      cursor: pointer;
    }
    #ruban {
      width: auto;
      position: absolute;
      top: 0;
      left: 0;
      height: 150px;
      img {
        border: 1px solid $grisFonce
      }
    }
    .miniature {
      display: block;
      float: left;
      margin-right: 5px;
      height: 150px;
      overflow: hidden;
      width: 100px;
    }
  }
}

#theme {
  @include trajan(36px, $vert);
  position: absolute;
  bottom: 5px;
  right: 30px;
  body.interieure, body.anniversaire & {
    @include opacity(.2)
  }
}

#intro {
  position: absolute;
  left: 500px;
  top: 40px;
  @include trajan(20px, black);
  @include opacity(.7);
  line-height: 1.2em;
  width: 350px;
}

p.signature {
  @include leger(12px, black);
  line-height: 1.2em;
  margin-left: 40px
}

.tiers {
  width: 33.33%;
  float: left;
  margin: 0;
  padding-bottom: 30px;
  display: inline;
}

#bandeauSup {
  @extend .seizeCol;
  position: relative;
  margin-left: -10px;
  .chapeau {
    width: 300px;
    margin: 0 auto
  }
  .nom {
    width: 597px;
    margin: 0 auto

  }
}

#contenu {
  @extend .seizeCol;
  padding-bottom: 40px;
  position: relative;
  min-height: 400px;
}

#topnav {
  @extend .seizeCol;
  margin-top: 0;
  padding-top: 0;
}

#footer {
  font-size: 10px;
  color: $grisFonce;
  padding-top: 10px;
  a {
    color: $grisFonce
  }
}

.titre {
  @extend .seizeCol;
}

#ariane {
  @extend .seizeCol;
  color: white;
  @include horizontal-list(0);
  ul {
    margin: 0;
    padding: 0;
    height: 25px;
    li {
      a {
        color: white
      }
    ;
      font-weight: 400;
      border-left: 1px solid white;
      font-size: 12px;
      background-color: $bleu;
      height: 13px;
      padding-top: 3px;
      padding-right: 10px;
      padding-bottom: 8px;
      padding-left: 10px;
      &:first-child {
        border-left: none;
        padding-left: 10px;
      }
      &:last-child {
        padding-right: 10px;
        background-color: #c6dec4;
        color: $bleu;
      }
    }
  }
  margin-top: 15px;
  height: 25px;
  margin-left: -10px;
  margin-bottom: 10px
}

#navigation {
  height: 20px;
  ul {
    a {
      color: black;
    }
    @include horizontal-list(10px);
    border-bottom: 1px solid black;
    width: 700px;
    margin: 0 auto;
    @include trajan(13px, black);
    li {
      padding: 4px 2px 2px 2px;
      margin-right: 10px;
      &:first-child {
        padding-left: 2px;
      }
      &.choisi {
        background-color: $vertDiscret;
      }
    }
  }
}

#navTags, #navGauche {
  @include trajan(10px, black);
  div {
    padding: 1px 2px;
    float: left;
    margin-right: 1px;
    margin-bottom: 3px;
    text-align: center;
    a {
      color: black
    }
    &.choisi {
      background-color: $vertFort;
      border-bottom: 2px solid $rouge;
      color: white;
      a {
        color: white
      }
    }
  }
}

#navTags {
  position: absolute;
  width: 700px;
  height: 23px;
  top: 2px;
  left: 120px;
  div {
    width: auto;
  }

}

#navGauche {
  @extend .troisCol;
  padding-top: 50px;
  margin-left: 20px;
  div {
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid $vert;
  }
}

#motsCles, #motsClesIndex {
  font-size: 11px;
  position: absolute;
  .tag, .tout {
    float: left;
    width: auto;
    background-color: white;
    border: 1px solid $gris;
    padding: 1px 3px;
    margin-top: 2px;
    &.choisi {
      background-color: $vertMedium;
      color: white;
    }
    @include border-radius;
    cursor: pointer;
    &:hover {
      @include opacity(.8)
    }
  }
  .tout {
    background-color: $vertPale
  }
  h2 {
    padding: 0;
    width: 100px;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 1px;
    background-color: $vert;

    font-size: 11px;
    color: white;
    line-height: 13px;
    text-align: center
  }
}

#motsClesIndex {
  left: 700px;
  width: 200px;
  top: 100px
}

#motsCles {
  right: 0;
  width: 400px;
  bottom: 50px;
}

#editpage {
  color: $rouge !important;
  font-weight: 700
}

#photo, #texte, #temoignage, #auteur {
  margin-top: 40px;
}

#photo {
  @extend .huitCol;
  margin-left: 20px;
  position: relative;
  border: 2px solid white;
  /* 	background-color: white; */
  img {
    display: block;
    margin: 0 auto;
  }

}

#texte, #temoignage {
  margin-right: 0;
  border-bottom: 2px solid white;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 1.5em;
}

#texte {
  @extend .sixCol;
  @extend .finUn;
}

#temoignage {
  @extend .neufCol;
  @extend .finUn;
  body.anniversairesection & {
    margin-left: 30px;
    margin-top: 60px
  }
}

#auteur {
  @extend .troisCol;
  margin-left: 10px
}

#json, #source, .inv, .sCt {
  display: none
}

#colG {
  margin-top: 15px;
  margin-left: 10px;
  @include span-columns(3, 16);
  margin-right: 10px;
}

#colD {
  @include span-columns(13, 16);
  margin-right: 0;
  .texteM, #mosaique {
    clear: both;
    width: 760px;
    margin-right: 0;
  }
}

.ct, .ct2 {
  position: relative;
  @include clearfix;
  margin-left: -10px;
  border-bottom: 1px solid $bleu;
  background-color: white;
  font-size: .95em;
  line-height: 1.1em;
  @include opacity(.9);
  padding: 2px 2px 4px 2px;
}

div.ppt {
  font-size: 14px;
  background-color: black;
  @include border-radius;
  padding: 3px;
  margin: 0 0 0 -5px;
  width: 100% !important;
  text-align: center;
}

div.pp_default .pp_nav, .pp_nav {
  width: 125px;
  margin-bottom: 5px;
  background-color: grey;
  @include border-radius(4px, 4px);
  .currentTextHolder {
    color: white;
  }
}

a.pp_arrow_previous, a.pp_arrow_next {
  margin-top: 5px;
}

#sectionFrontale {
  position: absolute;
  top: 290px;
  left: 30px;
  width: 700px;
  height: 110px;
  text-transform: uppercase;
  @include trajan(13px, $vert);
  line-height: 1.2em;
  z-index: 10000;
  .bulle {
    float: left;
    margin-right: 15px;
    width: 110px;
    height: 110px;
    img {
      @include box-shadow();
    }
    a {
      color: black;
    }
  }
}

.montrer {
  display: block !important;
}

.large {
  float: none !important;
  width: 100% !important;
}

#debug {
  position: absolute;
  bottom: 5px;
  left: 10px;
  @include regulier(12px, white)
}

#pagination {
  position: absolute;
  @include regulier(12px, white);
  right: 10px;
  bottom: 5px
}

.legende {
  float: left;
  width: 100%;
  clear: both;
  margin-top: 5px;
  margin-left: 3px;
}

#diaporama {
  position: absolute;
  width: 680px;
  top: 100px;
  left: 10px;
  z-index: 10000
}

body.anniversaire {
  h1 {
    font-size: 20px;
    margin-top: 0
  }
  h2 {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .signature {
    font-size: 13px;
    text-align: right
  }
}